@model CartViewModel

<table>
    <thead>
        <tr>
			<th class="shoping__product">Products</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
			<th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.ProductsCart.Count; i++)
        {
            <tr>
				<td class="shoping__cart__item">
					<img src="~/img/cart/cart-1.jpg" alt="">
					<input type="hidden" name="updatedCartItems[@i].Id" value="@Model.ProductsCart[i].Id" />
					<h5><input type="text" name="updatedCartItems[@i].Name" value="@Model.ProductsCart[i].Name" style="border:none" readonly /></h5>
				</td>
				<td class="shoping__cart__price">
					<input type="text" name="updatedCartItems[@i].Price" value="@Model.ProductsCart[i].Price" style="border:none; font-size: 25px;" readonly />
				</td>
				<td class="shoping__cart__quantity">
					<div class="quantity">
						<div class="pro-qty">
							<input type="number" name="updatedCartItems[@i].Quantity" value="@Model.ProductsCart[i].Quantity" min="1" />
						</div>
					</div>
				</td>
				<td class="shoping__cart__total"> 
					<input type="text" value="@Model.ProductsCart[i].Total.ToString("C")" readonly />
					@* <a href="@Url.Action("Remove", "Cart", new { id = Model.ProductsCart[i].Id })"
					   class="btn btn-danger">X</a> *@
				</td>
				<td class="shoping__cart__item__close">
					X
				</td>
            </tr>
        }
    </tbody>
</table>
